.terminal-row {
  width: 100%;
}

.terminal-row-input {
  caret-color: inherit;
  background-color: inherit;
  border: none;
  color: #cccccc;
  font-family: inherit;
  font-size: inherit;
  width: 95%;
  margin: 0;
}

.header {
  font-size: 26px;
  margin: 0;
}

.spacing-top {
  margin-top: 24px;
}

.terminal-row-input:focus {
  outline: none;
}

.input-with-href {
  width: 15%;
}

.bold {
  font-weight: bold;
}
